@using SEO.API.Controllers
@model SEO.API.Models.SearchViewModel
<link href="~/css/SEOMain.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Get Info Track Search Results";
}

<tr class="form-group">
    @using (Html.BeginForm("Get", "Search", new { SearchTerm = "online title search", Lookup = "www.infotrack.com.au" }, FormMethod.Get))
    {
        <table align="center" style="border: black 1px solid; position: relative;width: 80%">
            <tr style="background: white">
                <td align="center">
                    <img src="~/images/download.png" style="width: 100px" />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <br />
                    @Html.Label("Search Term:")
                    @Html.TextBox("searchTerm", "online title search")
                </td>
            </tr>
            <tr>
                <td align="left">
                    @Html.Label("Look Up Url :")
                    @Html.TextBox("lookUp", "www.infotrack.com.au")
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" value="Submit" class="btn-primary" />
                </td>
            </tr>
            <tr>
                <td>
                    <div>Look up Url appeared at positions: @ViewBag.ListOfUrlPositions  @ViewBag.Error </div>
                </td>
            </tr>

        </table>
    }

